.dntOkG {
    background: #333 !important;
    box-shadow: rgb(26, 26, 26) 0px -3px 6px !important;
    border-radius: 8px 8px 0px 0px;
    padding-bottom: 100px;
}

.jgDXBK {
    grid-column-end: span 12;
    color: rgb(4 4 4);
    padding: 20px 0px 0px;
    font-size: var(--font-size-base);
    margin: 0px 0px 100px;
    background: blue;
}

body {
    margin: 0;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-size: calc(var(--font-size-base));
    line-height: 1.3;
    background: rgb(17, 43, 25);
}

.gnwqMi {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 8px;
    max-width: 1024px;
    margin: 0px auto;
    padding: 0px 16px;
    background: cadetblue;
}

.bjzjtk {
    top: 0px;
    position: fixed;
    display: grid;
    grid-template-columns: max-content repeat(11, 1fr);
    background-color: rgb(158 0 0) !important;
    -webkit-box-align: center;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid rgb(228, 228, 228);
    width: calc(100vw - 141px);
}

.ieXpgb {
    background: rgb(255, 0, 0) !important;
}

.hmocIu {
    background: rgb(0 12 17) !important;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
    border-radius: 4px;
    padding: 10px;
    overflow-wrap: break-word;
}

.hwBavG {
    background: rgb(33 39 0) !important;
    border: 1px solid rgb(0, 60, 255);
    color: rgb(0, 60, 255);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 16px;
    text-decoration: none;
    align-self: end;
    user-select: none;
    outline: 0px;
    cursor: pointer;
    display: block;
    font-size: inherit;
}

.ionicamenu__bar, .ionicamenu__bar * {
    all: initial;
    background: rgb(123, 255, 118) !important;
}

.ionicamenu__bar {
    position: fixed;
    width: 142px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    top: 0;
    background: #2b1414 !important;
    border: 1px solid #e4e4e4;
    border-left: 0;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    transition: all 0.5s;
}

/*itjjacarei*/

.container {
    max-width: 1200px!important;
    background: black !important;
}

.justify-content-between {
    justify-content: space-between!important;
    background: orange !important;
}

.styles_input__3APYh {
    width: 100%;
    height: 48px;
    border: none;
    background-color: #4b2c2c !important;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    font-size: 14px!important;
}

.layout_headerContainerItems__3WkIX {
    height: 100%;
    background: yellow !important;
}

.picky__input {
    width: 100%;
    background-color: #43bfbe !important;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 5px;
    text-align: left;
    position: relative;
    height: 38px;
}

*, :after, :before {
    box-sizing: border-box;
    background: #343;
}