/* nao remova os @media*/

:root {
    --branco: #ffffff;
    --cinza0: #f0f6fc;
    --cinza1: #c9d1d9;
    --cinza2: #b1bac4;
    --cinza3: #8b949e;
    --cinza4: #6e7681;
    --cinza5: #484f58;
    --cinza6: #30363d;
    --cinza7: #21262d;
    --cinza8: #161b22;
    --cinza9: #0d1117;
    --azul0: #cae8ff;
    --azul1: #a5d6ff;
    --azul2: #79c0ff;
    --azul3: #58a6ff;
    --azul4: #388bfd;
    --azul5: #1f6feb;
    --azul6: #1158c7;
    --azul7: #0d419d;
    --azul8: #0c2d6b;
    --azul9: #051d4d;
  }

.dntOkG {
    background: var(--cinza8) !important;
    box-shadow: rgb(26, 26, 26) 0px -3px 6px !important;
    border-radius: 0px 0px 0px 0px !important;
    padding-bottom: 100px;
}

.jgDXBK {
    grid-column-end: span 12;
    color: rgb(4 4 4);
    padding: 20px 0px 0px;
    font-size: var(--font-size-base);
    margin: 0px 0px 100px;
    background: var(--cinza8);
}

body {
    margin: 0;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-size: calc(var(--font-size-base));
    line-height: 1.3;
    background: rgb(17, 43, 25);
}

.gnwqMi {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 8px;
    max-width: 1024px;
    margin: 0px auto;
    padding: 0px 16px;
    background: var(--cinza8);
}

.bjzjtk {
    top: 0px;
    position: fixed;
    display: grid;
    grid-template-columns: max-content repeat(11, 1fr);
    background-color: var(--cinza8) !important;
    -webkit-box-align: center;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid rgb(228, 228, 228);
    width: calc(100vw - 141px);
}

.ieXpgb {
    background: var(--cinza8) !important;
}

.hmocIu {
    background: var(--cinza8) !important;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
    border-radius: 4px;
    padding: 10px;
    overflow-wrap: break-word;
}

.hwBavG {
    background: var(--cinza7) !important;
    border: 1px solid rgb(0, 60, 255);
    color: rgb(0, 60, 255);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 16px;
    text-decoration: none;
    align-self: end;
    user-select: none;
    outline: 0px;
    cursor: pointer;
    display: block;
    font-size: inherit;
}

.ionicamenu__bar, .ionicamenu__bar * {
    all: initial;
    background: #0d1117 !important;
}

.ionicamenu__bar {
    position: fixed;
    width: 142px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    top: 0;
    background: #0d1117 !important;
    border: 1px solid #e4e4e4;
    border-left: 0;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    transition: all 0.5s;
}
.ionicamenu__item span {
    font-size: 14px;
    color: #6e7681 !important;
}

.ionicamenu__item__active span {
    cursor: default;
    color: #c9d1d9 !important;
}


.fpDRn {
    min-width: 0px !important;
    min-height: 0px !important;
    padding-top: 12px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 7.55px;
    justify-items: center;
    background: url(/ionica-platform-fe/static/media/Banner_estuda.e857e451.png);
}

.hmocIu {
    background: var(--cinza8) !important;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
    border-radius: 4px;
    padding: 10px;
    overflow-wrap: break-word;
}

.cPrpgF {
    top: 0px;
    position: fixed;
    display: grid;
    grid-template-columns: max-content repeat(11, 1fr);
    background-color: var(--cinza8) !important;
    -webkit-box-align: center;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid rgb(228, 228, 228);
    width: calc(100vw - 63px);
}

.ejJoEn {
    display: grid;
    grid-template-columns: minmax(70px, auto) 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "hexagon desc"
        "title desc";
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: var(--cinza8) !important;
    padding: 20px;
    grid-column-gap: 20px;
    border-radius: 4px;
}

.efkenJ {
    margin: 0px;
    color: var(--cinza2) !important;
} /*Nome da escola*/

.fNbFIB {
    font-size: 12px;
    font-weight: 400;
    color: var(--cinza4) !important;
    margin-bottom: 3px;
} /*Voce esta em*/

/*destaques*/

.fSjCQg {
    max-width: none;
    max-height: none;
    border-radius: 23.9839px;
    padding: 39.79px;
    width: 306.78px;
    height: 306px;
    background: var(--cinza8) !important;
}

/*itjjacarei*/

.container {
    max-width: 1200px!important;
    background: var(--cinza8) !important;
}

.justify-content-between {
    justify-content: space-between!important;
    background: var(--cinza8) !important;
}

.styles_input__3APYh {
    width: 100%;
    height: 48px;
    border: none;
    background-color: #21262d !important;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    font-size: 14px!important;
}

.layout_headerContainerItems__3WkIX {
    height: 100%;
    background: var(--cinza8) !important;
}

.picky__input {
    width: 100%;
    background-color: var(--cinza7) !important;
    border: 1px solid #6e7681 !important;
    border-radius: 2px;
    padding: 5px;
    text-align: left;
    position: relative;
    height: 38px;
}

*, :after, :before {
    box-sizing: border-box;
    background: var(--cinza8);
}

.styles_grouped-left__2m-H6 {
    outline: none!important;
    background: var(--cinza7) !important;
    color: #a4b5c3;
    border-color: transparent;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-right: -1px;
}

.card-background-white {
    background: var(--cinza7) !important;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 3px 3px 4px 0 rgb(0 0 0 / 5%);
}

.styles_title__20ni1 {
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    overflow: hidden;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 800;
    color: #c9d1d9 !important;
    margin-top: 8px;
}

.styles_infoContainer__1uBAB {
    padding: 14px 10px;
    background: var(--cinza7) !important;
}


.ionicamenu-loaded .layout_tabsHeaderMobile__jHZrj {
    @media (max-width: 1800px)
    display: flex;
    overflow-x: scroll;
    padding-left: 0;
    background: var(--cinza8) !important;
    justify-content: space-around!important;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    background: var(--cinza7) !important;
}

.styles_mainButton__2B3rT .styles_mainImg__3Bli2 {
    position: absolute;
    height: 35px;
    width: 35px;
    background: var(--azul6) !important;
}

.styles_mainButton__2B3rT {
    cursor: pointer;
    background: var(--azul6) !important;
    padding: 0;
    border: 0;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0 5px 6px rgb(0 0 0 / 16%);
    z-index: 1099;
}

/*personalização de perfil*/

body {
    margin: 0;
    font-size: 14px;
    background-color: #5d98bf !important;
    padding: 0;
    max-width: 100%;
}